*~
*.pyc
*.pyo
*.tmp*
*.mo
*.egg
*.EGG
*.egg-info
*.EGG-INFO
*.gz
*.kpf
*.swp
*.wpr
.*.cfg
.installed.cfg
.mr.developer.cfg
.eggs/
.hg/
.bzr/
.svn/
.project
.pydevproject
pip-selfcheck.json
bin/
build/
develop-eggs/
downloads/
eggs/
fake-eggs/
include/
lib/
local/
parts/
dist/
var/



# OSX
.DS_Store


Paste-1.7.5.1-py2.7.egg
PasteDeploy-1.5.0-py2.7.egg/
PasteDeploy-1.5.0-py2.7.egg/*
PasteScript-*
PasteDeploy-1.5.2-py2.7.egg/
Paste-2.0.2-py2.7.egg/paste/__init__.py
